* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

body, html {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: #5f2c82;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-image: url(https://professorguanabara.github.io/projeto-login/imagens/metal.jpg);
    background-position: left bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    border-radius: 25px 25px 0px 0px;
}

main {
    width: 250px;
}

main > article {
    background-color: white;
    box-shadow: 1px 1px 1px black;
    border-radius: 0px 0px 25px 25px;
    padding: 10px;
    height: 300px;
}

article > h1 {
    text-align: center;
    padding-bottom: 15px;
}

article > #text {
    text-align: left;
    font-size: 0.9em;
    margin-bottom: 5px;
}

span {
    color: white;
    margin-right: 10px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5f2c82;
    border-radius: 8px;
    height: 45px;
    margin-bottom: 5px;
}

input {
    padding: 11px 0 11px 5px;
    border-radius: 8px;
    background-color: #5ec9c5;
}

button {
    display: block;
    text-align: center;
    width: 98%;
    margin-bottom: 5px;
    padding: 10px;
}